* {
    box-sizing: border-box;
    padding: 0;
    margin: 0; 
}
html {
    font-size: 62.5%;
}
body {
    background-color: rgb(230, 230, 230);
}
main .post--container {
    width: 70vw;
    margin: 0 auto;
}
.post--container .post--item {
    width: 100%;
    height: auto;
    background-color: #FFF;
    border-radius: 15px;
    display: flex;
    flex-flow: column nowrap;
    margin-top: 10px;
    /* Efecto de sombra */
    box-shadow: 0px 8px 5px rgba(0, 0, 0, 0.3);
}
.post--item h1, .post--item h3 {
    color: #000;
    padding: 0px 15px;
}
.post--item h1 {
    margin-top: 10px;
    font-size: 3.3rem;
    line-height: 3.6rem;
    align-self: flex-start;
}
.post--item h3 {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 1.8rem;
    font-weight: 300;
    align-self: flex-start;
}